networks:
  docker_test_network:

volumes:
  data_research_analysis_postgres_data:
    name: data_research_analysis_postgres_data
    external: true
  data_research_analysis_redis_data:
    name: data_research_analysis_redis_data
    external: true
  data_research_analysis_mysql_data:
    name: data_research_analysis_mysql_data
    external: false
    driver: local
  data_research_analysis_mariadb_data:
    name: data_research_analysis_mariadb_data
    external: false
    driver: local

services:
  frontend.dataresearchanalysis.test:
    build:
      context: .
      dockerfile: ./docker/frontend/Dockerfile
    volumes:
      - "./frontend:/frontend:delegated"
    ports:
      - "$FRONTEND_LOCAL_PORT:$FRONTEND_DOCKER_PORT"
    expose:
      - "$FRONTEND_LOCAL_PORT"
    networks:
      - docker_test_network
    environment:
      - "VIRTUAL_HOST=frontend.dataresearchanalysis.test"
    container_name: frontend.dataresearchanalysis.test

  backend.dataresearchanalysis.test:
    build:
      context: .
      dockerfile: ./docker/backend/Dockerfile
    volumes:
      - "./backend:/backend:delegated"
    ports:
      - "$BACKEND_LOCAL_PORT:$BACKEND_DOCKER_PORT"
    expose:
      - "$BACKEND_LOCAL_PORT"
    networks:
      - docker_test_network
    environment:
      - "VIRTUAL_HOST=backend.dataresearchanalysis.test"
    container_name: backend.dataresearchanalysis.test

  database.dataresearchanalysis.test:
    build:
      context: .
      dockerfile: ./docker/database/Dockerfile
    volumes:
      - data_research_analysis_postgres_data:/var/lib/postgresql/data
    ports:
      - "$POSTGRESDB_LOCAL_PORT:$POSTGRESDB_DOCKER_PORT"
    networks:
      - docker_test_network
    env_file:
      - ./.env
    environment:
      - "VIRTUAL_HOST=database.dataresearchanalysis.test"
      - "POSTGRES_USER=$POSTGRESDB_USER"
      - "POSTGRES_PASSWORD=$POSTGRESDB_ROOT_PASSWORD"
      - "POSTGRES_DB=$POSTGRESDB_DATABASE"
    container_name: database.dataresearchanalysis.test

  redis.dataresearchanalysis.test:
    image: redis:7-alpine
    volumes:
      - data_research_analysis_redis_data:/data
    ports:
      - "$REDIS_LOCAL_PORT:$REDIS_DOCKER_PORT"
    networks:
      - docker_test_network
    env_file:
      - ./.env
    environment:
      - "VIRTUAL_HOST=redis.dataresearchanalysis.test"
    # command: redis-server --appendonly yes --requirepass "$REDIS_PASSWORD"
    container_name: redis.dataresearchanalysis.test

  mysql-test-database.dataresearchanalysis.test:
    build:
      context: .
      dockerfile: ./docker/test-database/mysql/Dockerfile
    volumes:
      - data_research_analysis_mysql_data:/var/lib/mysql
    ports:
      - "$MYSQLDB_LOCAL_PORT:$MYSQLDB_DOCKER_PORT"
    networks:
      - docker_test_network
    env_file:
      - ./.env
    environment:
      - "VIRTUAL_HOST=mysql-test-database.dataresearchanalysis.test"
      - "MYSQL_ROOT_PASSWORD=$MYSQLDB_ROOT_PASSWORD"
      - "MYSQL_DATABASE=$MYSQLDB_DATABASE"
      - "MYSQL_USER=$MYSQLDB_USER"
      - "MYSQL_PASSWORD=$MYSQLDB_ROOT_PASSWORD"
      - "MYSQL_ALLOW_EMPTY_PASSWORD=false"
      - "MYSQL_ROOT_HOST=%"
    container_name: mysql-test-database.dataresearchanalysis.test

  mariadb-test-database.dataresearchanalysis.test:
    build:
      context: .
      dockerfile: ./docker/test-database/mariadb/Dockerfile
    volumes:
      - data_research_analysis_mariadb_data:/var/lib/mysql
    ports:
      - "$MARIADB_LOCAL_PORT:$MARIADB_DOCKER_PORT"
    networks:
      - docker_test_network
    env_file:
      - ./.env
    environment:
      - "VIRTUAL_HOST=mariadb-test-database.dataresearchanalysis.test"
      - "MYSQL_ROOT_PASSWORD=$MARIADB_ROOT_PASSWORD"
      - "MYSQL_DATABASE=$MARIADB_DATABASE"
      - "MYSQL_USER=$MARIADB_USER"
      - "MYSQL_PASSWORD=$MARIADB_ROOT_PASSWORD"
      - "MYSQL_ALLOW_EMPTY_PASSWORD=false"
      - "MYSQL_ROOT_HOST=%"
    container_name: mariadb-test-database.dataresearchanalysis.test